body {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        background: #E5E5E5;
}
header {
    width: 1600px;

    background: #FFFFFF;
}
main {
    width: 1600px;
    background: #FFFFFF;
}
.item-web {
    color: #2196F3;
}

.item-studio {
    color: #000000;
}
.item-studio-bottom {
    color: #ffffff;
}
.web-item {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
 }

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.link {
    color: #212121;
}
.link:hover , .link:focus {
    color: #2196F3;
}
.link-ag {
    width: 53px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.link-po {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.link-ko {
    width: 51px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.mail-item {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}
.tel-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.bisnes-item {
    width: 1600px;
    height: 600px;
    background: #2F303A;
}
.text-item {
    position: absolute;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.txt-main {
    width: 352px;
    height: 42px;
    font-weight: 700;
    color: #212121;
}
.btn-services {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.main-txt-body {
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
.box-team-first {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.txt-name {
    width: 72px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.txt-position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.main-team {
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA;
}
.addr-item-home {
    width: 1600px;
    height: 252px;
}
.footer-adress {
    width: 1600;
    height: 252;
    background: #2F303A;
}
.box-job {
    width: 1170px;
    height: 386px;
}
.mail-item-bottom {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff99;
}
.tel-item-bottom {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff99;
}
.addr-street {
    width: 247px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.web-item-bottom {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}
.btn-first {
    position: absolute;
    width: 121px;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0;
}
.btn-second {
    position: absolute;
    width: 93px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
}

.btn-third {
    position: absolute;
    width: 114px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
}

.btn-fourth {
    position: absolute;
    width: 91px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
}

.btn-fifth {
    position: absolute;
    width: 121px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
}
.btn-first:hover,
.btn-second:hover,
.btn-third:hover,
.btn-fourth:hover,
.btn-fifth:hover {
    background-color: #2196F3;
    color: #FFFFFF
}
.menu-box-name {
    font-weight: 700;
    font-size: 18px;
    color: #212121;
}
.menu-box-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}