:root {
  --Light-Black: #212121;
  --Light-Blue: #2196f3;
  --White: #ffffff;
  --Ligth-Grey: #e5e5e5;
  --Black: #000000;
  --Dark-Blue: #2f303a;
  --Withe-Grey: #f5f4fa;
  --Grey: #757575;
  --Shadow-Red-Black: rgba(0, 0, 0, 0.15);
  --Shadow-RB-1: rgba(0, 0, 0, 0.12);
  --Shadow-RB-2: rgba(0, 0, 0, 0.14);
  --Shadow-RB-3: rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  background: var(--Ligth-Grey);
}
header {
  width: 1600px;
  background: var(--White);
}
main {
  width: 1600px;
  background: var(--White);
  position: absolute;
}
.item-web {
  font-weight: 700;
  font-size: 26px;
  color: var(--Light-Blue);
}
.studio-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Black);
}
.webstudio-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Light-Blue);
}
.studio-item-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--White);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a [href] {
  cursor: pointer;
}
h1 {
  font-weight: 900;
  font-size: 44px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 14px;
}
.link {
  color: var(--Light-Black);
  font-weight: 500;
  font-size: 14px;
}
.link:hover,
.link:focus {
  color: var(--Light-Blue);
}
.mail-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
}
.mail-tel-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
}
.mail-tel-item:hover,
.mail-tel-item:focus {
  color: var(--Light-Blue);
}
.bisnes-item {
  width: 1600px;
  height: 600px;
  background: var(--Dark-Blue);
}
.text-item {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--White);
}
.txt-main {
  font-weight: 700;
  color: var(--Light-Black);
}
.btn-services {
  background-color: var(--Light-Blue);
  box-shadow: 0px 4px 4px var(--Shadow-Red-Black);
  border-radius: 4px;
}
.main-txt-body {
  font-size: 14px;
  color: var(--Grey);
}
.box {
  background-color: var(--Withe-Grey);
}
.box-team-first {
  background: var(--White);
  box-shadow: 0px 1px 3px var(--Shadow-RB-1), 0px 1px 1px var(--Shadow-RB-2),
    0px 2px 1px var(--Shadow-RB-3);
  border-radius: 0px 0px 4px 4px;
}
.txt-name {
  font-weight: 500;
  font-size: 16px;
}
.txt-position {
  font-weight: 400;
  font-size: 16px;
  color: var(--Grey);
}
.main-team {
  background-color: var(--Withe-Grey);
}
.addr-item-home {
  width: 1600px;
}
.footer-adress {
  width: 1600;
  background: var(--Dark-Blue);
}
.mail-tel-item-bottom {
  font-weight: 400;
  font-size: 14px;
  color: var(--White);
}
.addr-street {
  font-weight: 400;
  font-size: 14px;
  color: var(--White);
}
.web-item-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Light-Blue);
}
.btn-first {
  position: absolute;
  background-color: var(--Withe-Grey);
  border-radius: 4px;
  border: 0;
}
.btn-second {
  position: absolute;
  background: var(--Withe-Grey);
  border-radius: 4px;
  border: 0;
}
.btn-third {
  position: absolute;
  background: var(--Withe-Grey);
  border-radius: 4px;
  border: 0;
}
.btn-fourth {
  position: absolute;
  background: #var(--Withe-Grey);
  border-radius: 4px;
  border: 0;
}
.btn-fifth {
  position: absolute;
  background: var(--Withe-Grey);
  border-radius: 4px;
  border: 0;
}
.btn-first:hover,
.btn-second:hover,
.btn-third:hover,
.btn-fourth:hover,
.btn-fifth:hover {
  background-color: var(--Light-Blue);
  color: var(--White);
}
.menu-box-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--Light-Black);
}
.menu-box-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--Grey);
}
